.shop-category-banner{
    display: block;
    margin:30px auto;
    margin-bottom: 0;
    width: 80%;
}

.shopcategory-products{
    margin: 20px 170px;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}